---
layout: default
title: Design System
---
{% extends "canvas.njk" %}
{% import "components/form.njk" as form %}
{% from "components/heading.njk" import heading as heading %}
{% from "components/button.njk" import button as button %}

{% block content %}

    {{ heading({
        size: 1,
        content: "Update Pet",
        class: "mb-4"
    }) }}

    {{ form.input({
        label: "Name",
        value: "Ūla"
    }) }}

    {{ form.select({
        label: "Your pet is a...",
        options: {
            "": "Please select a type",
            "cat": "Cat",
            "dog": "Dog",
            "rabbit": "Rabbit"
        },
        value: "dog"
    }) }}

    {{ form.textarea({
        label: "Tell us about your pet",
        description: "Describe your pet, what they like/dislike etc."
    }) }}

    <div class="flex">
        {{ button({
            color: "green",
            content: "Update"
        }) }}

        {{ button({
            color: "red",
            content: "Delete Pet",
            class: "ml-auto"
        }) }}
    </div>

{% endblock %}